/* Imports */
/*
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*/
.has-error small{color:red;font-weight:normal;margin-left:5px;}
#jumbotron-index{margin-top:50px;background:#666;color:#eee;}

/* Add by Shinseiki86 */
    .page-header{margin-top:10px;}
    .jumbotron{padding:10px 20px !important;}
    .form-check-input {width: 20px; height: 20px;}
    .form-check-label {height: 36px; /*font-size: large;*/}

    /*Modal centrado en pantallas xs.*/
    @media screen and (min-width: 768px) { 
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }
    .modal {text-align: center;}
    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    .fa-2x, .fa-3x{
        vertical-align: middle;
    }

    /*Alerta flotante a la derecha.*/
    .alertas {
        position: fixed;
        max-height: 500px;
        max-width: 600px;
        bottom : 20px;
        right: 20px;
        z-index: 999;
    }
    .alertas>.alert{
        width: 300px;
        margin-bottom: 5px;
    }

    /*Sombra en botones*/
    .btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
        -webkit-box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.25);
        box-shadow: 4px 3px 3px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.25);
    }
    /*.btn:active{
        box-shadow: inset 0px 0px 6px 2px rgba(0,0,0, .4), inset 0px 0px 6px 2px rgba(0,0,0, .4);
    }*/

    /*Quitar href de botones al imprimir*/
    @media print {
        a[href]:after {content: none !important;}    
    }